In [14]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import datetime
from dateutil.parser import parse
import copy

In [31]:
def Cut(Series , cuts):
    "구분할 iter가능한 변수와 구분 기준을 입력받으면 구분 기준 앞에서 부터 1로 구분해서 return 함"
    Cuts = copy.deepcopy(cuts)
    Cuts.append(np.inf)
    Cuts.insert(0,-1*np.inf)
    R = len(Cuts)
    label = range(1,R)
    return pd.cut(Series, Cuts, labels = label)

# 데이터 불러오기

In [50]:
df_1_3 = pd.read_csv("d:/공모전/IPO/IPO/CleanData/X_train_After_IPO_1.csv")
df_3_6 = pd.read_csv("d:/공모전/IPO/IPO/CleanData/X_train_After_IPO_3.csv")
df_0 = pd.read_csv("d:/공모전/IPO/IPO/CleanData/X_train_Before_IPO.csv")

In [51]:
df_0_1 = df_0.drop(['공모가 대비 3개월 수익률','공모가 대비 6개월 수익률'],axis =1)
df_0_3 = df_0.drop(['공모가 대비 1개월 수익률','공모가 대비 6개월 수익률'],axis =1)
df_0_6 = df_0.drop(['공모가 대비 1개월 수익률','공모가 대비 3개월 수익률'],axis =1)

# 공통 전처리

In [52]:
def process(df,y_name):
    
    ## 기본 전처리
    df['상장일'] = pd.to_datetime(df['상장일'])
    df = df.set_index(['상장일'])
    df = df.drop(['종목명','공모 시가총액'],axis = 1) ## 나중에 카테고리 진행할려면 남겨줄 것
    if y_name == '공모가 대비 6개월 수익률':
        df['Cat'] = Cut(df[y_name],[-0.4, -0.2, 0.2, 0.4])
        df = df.drop(y_name,axis = 1)
        
    else :
        df['Cat'] = Cut(df[y_name],[-0.2, -0.1, 0.1, 0.2])
        df = df.drop(y_name,axis = 1)
    
    ## train 3년 test 1년으로 총 기간을 3개월 이동으로 36개 구간분할
    train_list = []
    test_list = []
    train_start_date = '2009-04-01' ## 기한은 나중에 변경할수도
    test_start_date = parse(str(train_start_date)).date() + relativedelta(years =3)
    train_end_date = parse(str(test_start_date)).date() - relativedelta(days =1)
    test_end_date = parse(str(train_end_date)).date() + relativedelta(years =1)

    while True:

        train_list.append(df[train_start_date : train_end_date])
        test_list.append(df[test_start_date : test_end_date])

        train_start_date = parse(str(train_start_date)).date() + relativedelta(months=3)
        test_start_date = parse(str(test_start_date)).date() + relativedelta(months=3)
        train_end_date = parse(str(train_end_date)).date() + relativedelta(months=3)
        test_end_date = parse(str(test_end_date)).date() + relativedelta(months=3)

        if str(train_start_date) == '2018-04-01':
            break
    
    ## y_data 분포 확인 및 데이터프레임 생성
    df_1 = train_list[0]['Cat'].value_counts().reindex([1,2,3,4,5])
    df_2 = test_list[0]['Cat'].value_counts().reindex([1,2,3,4,5])
    df_y = pd.concat([df_1,df_2])
    
    
    for i in range(1,len(train_list)):
        a = train_list[i]['Cat'].value_counts().reindex([1,2,3,4,5])
        b = test_list[i]['Cat'].value_counts().reindex([1,2,3,4,5])
    
        new_data = pd.concat([a,b] ,axis =0)
        df_y = pd.concat([df_y,new_data],axis =1)
        
    df_y.columns = list(range(1,37))
    df_y.index = ['Train_1','Train_2','Train_3','Train_4','Train_5',\
              'Test_1','Test_2','Test_3','Test_4','Test_5']
    df_y.rename(columns = lambda x : "model_set_"+ str(x),inplace = True)
    
    return df_y

In [53]:
df_0_1 = process(df_0_1,'공모가 대비 1개월 수익률')

In [54]:
df_0_3 = process(df_0_3,'공모가 대비 3개월 수익률')

In [55]:
df_0_6 = process(df_0_6,'공모가 대비 6개월 수익률')

In [58]:
df_1_3 = process(df_1_3,'1_3_수익률')

In [60]:
df_3_6 = process(df_3_6,'3_6_수익률')

In [66]:
df_0_1.to_csv("0_1_종속변수 분포.csv",encoding = 'euc-kr')
df_0_3.to_csv("0_3_종속변수 분포.csv",encoding = 'euc-kr')
df_0_6.to_csv("0_6_종속변수 분포.csv",encoding = 'euc-kr')
df_1_3.to_csv("1_3_종속변수 분포.csv",encoding = 'euc-kr')
df_3_6.to_csv("3_6_종속변수 분포.csv",encoding = 'euc-kr')

In [61]:
df_0_1

,model_set_1,model_set_2,model_set_3,model_set_4,model_set_5,model_set_6,model_set_7,model_set_8,model_set_9,model_set_10,...,model_set_27,model_set_28,model_set_29,model_set_30,model_set_31,model_set_32,model_set_33,model_set_34,model_set_35,model_set_36
Train_1,32,32,31,30,26,26,22,21,18,13,...,22,26,26,28,35,29,33,34,32,30
Train_2,22,23,24,24,20,19,19,18,16,15,...,25,18,19,19,20,18,18,17,18,18
Train_3,37,36,36,34,32,27,20,21,15,14,...,58,60,59,58,58,64,62,55,49,51
Train_4,9,7,7,8,10,9,9,8,7,9,...,16,16,14,15,15,17,16,13,13,13
Train_5,55,39,38,37,39,39,40,42,44,44,...,64,54,56,56,61,59,57,58,66,78
Test_1,2,2,1,2,2,2,4,3,3,4,...,17,11,15,14,8,7,5,4,3,2
Test_2,3,2,1,5,5,5,6,3,3,3,...,4,8,9,8,11,7,6,6,1,1
Test_3,6,7,3,6,5,4,8,9,9,14,...,22,24,22,19,14,5,6,6,4,1
Test_4,3,3,4,4,2,4,3,6,6,6,...,3,3,3,2,4,4,5,5,3,1
Test_5,8,11,13,19,17,16,16,26,25,30,...,18,18,15,18,27,38,50,47,32,14

In [62]:
df_0_3

,model_set_1,model_set_2,model_set_3,model_set_4,model_set_5,model_set_6,model_set_7,model_set_8,model_set_9,model_set_10,...,model_set_27,model_set_28,model_set_29,model_set_30,model_set_31,model_set_32,model_set_33,model_set_34,model_set_35,model_set_36
Train_1,43,44,42,41,35,31,27,22,19,14,...,32,31,31,33,39,37,36,36,33,33
Train_2,19,18,18,16,14,12,11,9,8,7,...,17,16,16,16,15,16,15,14,18,18
Train_3,25,24,25,26,27,26,21,24,21,22,...,52,51,51,52,53,54,55,48,45,44
Train_4,12,8,9,10,9,8,8,7,4,5,...,13,16,15,14,16,16,16,15,15,18
Train_5,56,43,42,40,42,43,43,48,48,47,...,71,60,61,61,66,64,64,64,67,77
Test_1,3,2,1,2,2,2,7,6,6,7,...,15,16,15,13,7,4,6,5,4,2
Test_2,2,2,1,1,0,0,0,0,0,2,...,5,5,5,5,9,6,6,6,1,0
Test_3,5,6,5,11,10,11,13,7,7,9,...,16,20,22,18,18,10,9,9,5,2
Test_4,2,2,1,0,0,1,1,4,4,7,...,8,5,4,4,3,6,8,8,6,2
Test_5,10,13,14,22,19,17,16,30,29,32,...,20,18,18,21,27,35,43,40,27,13

In [63]:
df_0_6

,model_set_1,model_set_2,model_set_3,model_set_4,model_set_5,model_set_6,model_set_7,model_set_8,model_set_9,model_set_10,...,model_set_27,model_set_28,model_set_29,model_set_30,model_set_31,model_set_32,model_set_33,model_set_34,model_set_35,model_set_36
Train_1,19,18,18,18,15,12,10,10,9,6,...,11,10,11,13,16,16,16,16,14,15
Train_2,37,37,36,32,26,22,21,17,13,11,...,26,24,25,25,27,25,24,25,24,21
Train_3,51,44,44,46,47,45,39,35,31,30,...,79,74,75,76,81,82,83,73,72,75
Train_4,13,11,10,9,10,11,13,15,13,14,...,17,16,14,13,16,16,16,16,20,22
Train_5,35,27,28,28,29,30,27,33,34,34,...,52,50,49,49,49,48,47,47,48,57
Test_1,2,2,0,1,1,1,1,0,0,1,...,8,9,8,6,2,1,1,1,1,0
Test_2,3,3,3,2,0,0,4,5,5,7,...,9,10,9,9,6,2,3,2,1,1
Test_3,7,6,5,10,8,10,13,10,11,18,...,25,28,30,26,27,22,21,21,11,4
Test_4,2,3,6,7,6,7,5,8,9,7,...,6,9,8,9,12,10,12,11,5,2
Test_5,8,11,8,16,16,13,14,24,21,24,...,16,8,9,11,17,26,35,33,25,12

In [64]:
df_1_3

,model_set_1,model_set_2,model_set_3,model_set_4,model_set_5,model_set_6,model_set_7,model_set_8,model_set_9,model_set_10,...,model_set_27,model_set_28,model_set_29,model_set_30,model_set_31,model_set_32,model_set_33,model_set_34,model_set_35,model_set_36
Train_1,37,31,30,29,24,18,17,14,12,9,...,30,25,24,26,25,27,26,25,26,30
Train_2,21,17,17,14,13,11,10,7,8,9,...,26,26,27,28,31,33,32,31,35,35
Train_3,53,47,47,49,50,51,48,46,44,43,...,80,73,74,74,79,73,69,65,70,77
Train_4,17,16,15,16,15,15,13,15,11,11,...,25,25,23,23,27,23,22,20,14,15
Train_5,27,26,27,25,25,25,22,28,25,23,...,24,25,26,25,27,31,37,36,33,33
Test_1,1,1,0,2,2,3,6,5,5,8,...,5,8,7,5,6,9,14,14,12,5
Test_2,1,0,1,1,2,3,5,9,8,10,...,8,13,12,11,15,14,19,18,10,5
Test_3,13,17,18,19,15,13,12,15,15,21,...,32,27,23,22,23,23,28,26,15,5
Test_4,1,1,1,3,3,3,3,7,7,7,...,8,6,7,7,5,4,6,6,4,3
Test_5,6,6,2,11,9,9,11,11,11,11,...,11,10,15,16,15,11,5,4,2,1

In [65]:
df_3_6

,model_set_1,model_set_2,model_set_3,model_set_4,model_set_5,model_set_6,model_set_7,model_set_8,model_set_9,model_set_10,...,model_set_27,model_set_28,model_set_29,model_set_30,model_set_31,model_set_32,model_set_33,model_set_34,model_set_35,model_set_36
Train_1,43,37,38,35,30,26,26,24,19,17,...,29,26,31,31,34,37,36,36,35,37
Train_2,22,19,19,17,17,16,14,15,14,13,...,27,27,28,28,33,30,30,31,29,35
Train_3,61,56,51,50,51,50,47,44,43,44,...,72,63,62,63,65,64,62,52,61,64
Train_4,14,11,14,17,17,17,15,14,12,11,...,25,24,22,21,21,20,21,20,17,16
Train_5,15,14,14,14,12,11,8,13,12,10,...,32,34,31,33,36,36,37,38,36,38
Test_1,3,3,3,2,1,1,0,2,3,4,...,12,17,13,13,10,8,6,6,4,0
Test_2,3,3,3,6,5,5,5,7,6,9,...,16,11,12,13,7,13,11,9,8,1
Test_3,9,11,11,19,16,16,16,14,13,18,...,17,22,22,19,30,26,36,35,18,10
Test_4,6,7,4,1,1,1,3,5,5,5,...,4,4,5,5,6,2,3,3,2,2
Test_5,1,1,1,8,8,8,13,19,19,21,...,15,10,12,11,11,12,16,15,11,6